<!-- Sidebar -->
<div
  class="h-screen bg-primary dark:bg-gray-900 text-gray-800 dark:text-white transition-all duration-300 ease-in-out overflow-y-auto"
  [class.w-16]="isCollapsed && !isHovered"
  [class.w-52]="!isCollapsed || isHovered"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <!-- Header -->
  <div
    class="flex items-center justify-between gap-3 px-3 py-4 border-b dark:border-gray-700"
  >
    <div
      class="flex items-center gap-3 min-w-0"
      [class.justify-center]="isCollapsed && !isHovered"
    >
      <img
        src="assets/logo-puente.png"
        alt="Logo Puente"
        class="h-9 w-9 shrink-0 rounded-md bg-white object-contain p-1"
      />
      <h4
        class="text-xl text-white font-bold tracking-wide whitespace-nowrap"
        *ngIf="!isCollapsed || isHovered"
      >
        Puente
      </h4>
    </div>
    <button
      (click)="toggleSidebar()"
      class="flex h-9 w-9 shrink-0 items-center justify-center rounded-md text-lg text-white transition hover:bg-white/10 focus:outline-none appearance-none bg-transparent border-none"
    >
      <i
        class="bx text-white"
        [ngClass]="isCollapsed ? 'bx-arrow-to-right' : 'bx-arrow-to-left'"
      ></i>
    </button>
  </div>

  <!-- Menu -->
  <ul class="p-4 space-y-2 text-sm">
    <!-- Admin: Tablero -->
    <li *ngIf="isAdmin()">
      <a
        routerLink="./tablero"
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-home text-lg"></i>
        <span *ngIf="!isCollapsed || isHovered" class="text-white">Tablero</span>
      </a>
    </li>

    <!-- Admin: Usuarios -->
    <li *ngIf="isAdmin()">
      <a
        routerLink="./user"
        class="flex items-center gap-3 w-full p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx bx-cog text-white text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Usuarios
        </span>
      </a>
    </li>

    <li *ngIf="isAdmin()">
      <div>
        <button
          (click)="toggleSection('psicologos')"
          class="flex text-white items-center justify-between gap-3 w-full p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
        >
          <div class="flex items-center gap-3">
            <i class="bx bx-box text-white text-lg"></i>
            <span class="text-white" routerLink="./psicologo">
              Psicologos
            </span>
          </div>
        </button>
      </div>
    </li>

    <!-- Admin: Crear paciente -->
    <li *ngIf="isAdmin()">
      <div>
        <button
          (click)="toggleSection('pacientes')"
          class="flex text-white items-center justify-between gap-3 w-full p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
        >
          <div class="flex items-center gap-3">
            <i class="bx bx-box text-white text-lg"></i>
            <span class="text-white"  routerLink="./paciente">
              Paciente
            </span>
          </div>
        </button>

       </div>
    </li>

    <!-- Admin: Citas -->
    <li *ngIf="isAdmin()">
      <div>
        <button
          (click)="toggleSection('citas')"
          class="flex items-center justify-between gap-3 w-full p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
        >
          <div class="flex items-center gap-3">
            <i class="bx bx-calendar text-white text-lg"></i>
            <span class="text-white" *ngIf="!isCollapsed || isHovered">
              Citas
            </span>
          </div>

          <i
            class="bx bx-chevron-down transition-transform duration-200 text-white"
            [ngClass]="{
              'rotate-180': isSectionExpanded('citas'),
              hidden: isCollapsed && !isHovered
            }"
          ></i>
        </button>

        <ul
          class="ml-6 mt-1 space-y-1"
          *ngIf="isSectionExpanded('citas') && (!isCollapsed || isHovered)"
        >
          <li>
            <a
              routerLink="./cita"
              class="flex items-center gap-2 hover:underline"
            >
              <i class="bx text-white bx-right-arrow-alt"></i>
              <span class="text-white" *ngIf="!isCollapsed || isHovered">
                Listar Cita
              </span>
            </a>
          </li>
          <li>
            <a
              routerLink="./categorias"
              class="flex items-center gap-2 hover:underline"
            >
              <i class="bx text-white bx-right-arrow-alt"></i>
              <span class="text-white" *ngIf="!isCollapsed || isHovered">
                Crear Cita
              </span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Admin: Auditorias -->
    <li *ngIf="isAdmin()">
      <a
        routerLink="/dashboard/paciente/create"
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="fas fa-users text-white text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Auditorias
        </span>
      </a>
    </li>

    <!-- Admin: Banners -->
    <li *ngIf="isAdmin()">
      <a
        routerLink="./landings"
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="fas text-white fa-list text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Banners
        </span>
      </a>
    </li>

    <li *ngIf="isPsicologo() || isPaciente() || isAdmin()">
      <a
        routerLink="./perfil"
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-calendar text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">Perfil</span>
      </a>
    </li>

    <li *ngIf="isPsicologo() || isPaciente() || isAdmin()">
      <a
        (click)="cerrarSesion()"
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer"
      >
        <i class="bx text-white bx-calendar text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Cerrar Sesion
        </span>
      </a>
    </li>

    <!-- Psicologo: Citas -->
    <li *ngIf="isPsicologo()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-calendar text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Citas Psicologo
        </span>
      </a>
    </li>

    <!-- Psicologo: Calendario -->
    <li *ngIf="isPsicologo()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-calendar-event text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Calendario de Citas
        </span>
      </a>
    </li>

    <!-- Psicologo: Mensajes -->
    <li *ngIf="isPsicologo()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-chat text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Mensajes Psicologo
        </span>
      </a>
    </li>

    <!-- Psicologo: Ejercicios -->
    <li *ngIf="isPsicologo()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-dumbbell text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Ejercicios Psicologo
        </span>
      </a>
    </li>

    <!-- Psicologo: Encuestas -->
    <li *ngIf="isPsicologo()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-poll text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Encuestas Psicologo
        </span>
      </a>
    </li>

    <!-- Paciente: Citas -->
    <li *ngIf="isPaciente()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-calendar text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Citas Paciente
        </span>
      </a>
    </li>

    <!-- Paciente: Mensajes -->
    <li *ngIf="isPaciente()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-chat text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Mensajes Paciente
        </span>
      </a>
    </li>

    <!-- Paciente: Ejercicios -->
    <li *ngIf="isPaciente()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-dumbbell text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Ejercicios Paciente
        </span>
      </a>
    </li>

    <!-- Paciente: Encuestas -->
    <li *ngIf="isPaciente()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-poll text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Encuestas Paciente
        </span>
      </a>
    </li>

    <!-- Paciente: Libros -->
    <li *ngIf="isPaciente()">
      <a
        routerLink=""
        class="flex items-center gap-3 p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-800"
      >
        <i class="bx text-white bx-book text-lg"></i>
        <span class="text-white" *ngIf="!isCollapsed || isHovered">
          Libros Paciente
        </span>
      </a>
    </li>
  </ul>
</div>
